<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>
	<general>
		<defaultAmountThreads>1</defaultAmountThreads>
	</general>
	<staticAnalyser>
		<skipCFG>false</skipCFG>
		<skipDFG>false</skipDFG>
	</staticAnalyser>
	<sweeper>
		<maxNumberInstructions>10</maxNumberInstructions>
		<pivotOpcode>THROW</pivotOpcode>
	</sweeper>
	<decompiler>
		<dexSkipThreshold>-1</dexSkipThreshold>
		<dexVersion>39</dexVersion>
		<shouldNopUnknownInstruction>false</shouldNopUnknownInstruction>
	</decompiler>
</configuration>
